.blue-box {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
}

.schema-dropdown {
  margin-bottom: 10px;
}

.schema-dropdown select {
  width: 100%;
}

.ant-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-modal-body {
  padding: 20px;
}

.ant-modal-footer {
  border-top: none;
  text-align: right;
}

.ant-input,
.ant-select-selector {
  width: 100%;
  margin-top: 10px;
}

.ant-btn {
  margin-top: 10px;
}

h1 {
  text-align: center;
  color: white;
}

.saveSegmentButtonContainer {
  text-align: center;
  margin-top: 20px;
}

.saveSegmentButton {
  margin-top: 10px;
  background-color: #005073;
  color: #ffffff;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
